@font-face{
  font-family: wed;
  src: url("Inspiration/Inspiration-Regular.ttf");
}

h1{
    font-family: wed;
    font-size: 82;
}

h3{
    font-family: monospace;
    font-size: 55;
}

#addition{
  font-family: monospace;
    font-size: 50;
}

input{
    background-color: white;
    width: 100; 
    color: black;
    border: 2px solid #555555;
    border-radius: 8px;
    font-size: 42px;
    font-family: monospace;
    padding: 15px;
 }

input:hover{
  background-color: #F1F1F1;
 }

.sad{
    width: 175px;
}

.bill{
   width: 350px;
}

hr{
   border: 6px solid black;
    width: 75%;
}

.amounts{
     height: 100px;
     width: 100px;
     margin: 25px;
}

#owe1{
      color: "#FF3300";
}

#owe2{
      color: "#33CC33";
}
